<%- include('../partials/header')%>
    <%- include('../partials/navbar')%>

        <div class="container">

            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8">
                    <h2 class="my-4">
                        New Question
                    </h2>
                </div>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8">

                    <form action="/questions/store" method="post">
                        <div class="mb-3">
                            <label for="question" class="form-label">Question</label>
                            <input placeholder="what is the best framework for PHP?" 
                            type="text" class="form-control" name="question" id="question" aria-describedby="questionHelp">
                            <div id="questionHelp" class="form-text">Your question should be short and to the point.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" id="description" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>


        </div>

        <% if (created) { %>
            <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
            <script src="/js/showMessageSuccess.js"></script>
        <% } %>

        <%- include('../partials/footer')%>