<%- include('../partials/header')%>
    <%- include('../partials/navbar')%>

        <div class="container">
            <h2>Index Page</h2>
        </div>

        <%- include('../partials/footer')%>